body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffcccc;
}

img{
  width: 100%;
  max-height: auto;
}

.postImage {
    position: relative;
    float: left;
    padding: 100px;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.list {
  position: relative;
  float: right;
  left: 550px;
}

.blurb {
  position: relative;
  width: 700px;
  bottom: 450px;
  border-style: dashed;
  float: right;
}